body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  background-color: grey;
  color :white;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

header {
  background-color:#d9d9d9;
  padding: 15px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 5px;
  width: 100%
}
.maxi{
  max-width: 900px;
  max-height: 500px;
  margin: 0 auto;
}

img {
  width: 100%;
}

li:hover{
  background-color: grey;
}
li.active{
  background-color: grey;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 6px;
  margin-right: 2px;
  text-align: center;
}

.navbar a:hover {
  background-color: red;
  color: black;
}
<<<<<<< HEAD

.Fuji{
  max-width: 900px;
}

.Boat{
  max-width: 900px;
}



@media screen and (max-width: 770px) {
=======
/*@media screen and (max-width: 770px) {
>>>>>>> ccfc7a35790f4fd61a845de1fb899885bf6bc559
  .col1, .col2{
    float: left;
    width: 30%;
    margin-right: 5%;
  }
  .col3{
    margin-right: 5%;
    width: 100%;
  }
  .Fuji,.Boat{
    max-width: 750px;
  }
}

@media screen and (max-width: 380px) {
  body {
    background-color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
  }
  .col1,.col2,.col3 {
    float: none;
    width: 100%;
  }
  .navbar {
    left: 0;
    top: 0;
    background-color: #800060;
    width: 19%;
    height: 100%;
    margin-right: 2%;
  }
  .navbar a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 2px;
  }
  .Fuji,.Boat{
    display: none;
  }
}*/
=======
>>>>>>> d2d81b1967e17f3d9f8543d1aaa584416ab1193e
